<div>
    <h2>Results</h2>
    {{total}} results found
    {{#each results}}
        <li>
            <h3>{{incipit}}</h3>
            <div class="notation">{{volpiano}}</div>
        </li>
    {{/each}}
</div>